@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$nav_width: 250px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat sans-serif;
  font-size: 18px;
}

.aligner {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
}

.navigation {
  width: $nav_width;
  min-height: 100%;
  background: grey;
  font-size: 21px;
  margin-left: -$nav_width;
  transition: margin-left 0.3s ease;

  &.active {
    margin-left: 0;
  }

  &__wrapper {
    padding: 60px 10px;
  }

  &__list {

  }

  &__element {
    padding: 5px 20px;

    & a {
      text-decoration: none;
      color: black !important;
    }
  }
}

.spoiler {
  &__list {
    display: none;
    margin-top: 5px;

    &.active {
      display: block;
    }
  }

  &__element {
    list-style: none;
    padding: 5px 20px;

    & a {
      text-decoration: none;
      color: black !important;
    }
  }
}

.content {
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  padding: 0 10px;
}

.header {
  border-bottom: 1px solid black;

  &__wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;

    & a {
      font-size: 21px;
      padding-bottom: 10px;
    }
  }

  &__burger {
    font-size: 40px;
    padding-bottom: 10px;
    margin-right: 10px;
  }
}

main {
  height: calc(100vh - 68px);
}

.footer {
  background: black;
  color: white;

  &__wrapper {
    width: 100%;
    padding: 20px 0;
    display: none;

  }

  &__text {
    width: 100%;
    text-align: center;
  }
}

section {
  width: 100%;
  padding: 20px 0;
}

.schedule {
  &__title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding-bottom: 15px;
  }
}

.timetable {
  width: 100%;
  border: 1px solid black;

  &__class {
    justify-content: center;
  }

  &__wrapper_1 {
    display: none;
    

  }

  .timetable__wrapper_1.active {
    display: flex;
    justify-content: space-between;
    color: #666;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }

  &__element_1 {
    width: 100%;


    & + & {
      border-top: 1px solid black;
    }
  }

  &__day {
    padding: 5px 20px;
    background: lightgray;
  }


  &__lesson {
    list-style: none;
    align-items: center;
    text-align: center;

    & + & {
      padding-top: 5px;

    }
  }

  &__time {
    list-style: none;
    align-items: center;
    margin-left: 30px;
    text-align: center;
    & + & {
      padding-top: 5px;
    }
  }

  &__academic {
    list-style: none;
    align-items: center;
    text-align: center;
    & + & {
      padding-top: 5px;
    }
  }

  &__cabinet {
    list-style: none;
    align-items: center;
    margin-right: 30px;
    text-align: center;
    & + & {
      padding-top: 5px;
    }
  }
}