@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
::-webkit-scrollbar {
  width: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat sans-serif;
  font-size: 18px;
}

.aligner {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
}

.navigation {
  width: 250px;
  min-height: 100%;
  background: grey;
  font-size: 21px;
  margin-left: -250px;
  transition: margin-left 0.3s ease;
}
.navigation.active {
  margin-left: 0;
}
.navigation__wrapper {
  padding: 60px 10px;
}
.navigation__element {
  padding: 5px 20px;
}
.navigation__element a {
  text-decoration: none;
  color: black !important;
}

.spoiler__list {
  display: none;
  margin-top: 5px;
}
.spoiler__list.active {
  display: block;
}
.spoiler__element {
  list-style: none;
  padding: 5px 20px;
}
.spoiler__element a {
  text-decoration: none;
  color: black !important;
}

.content {
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  padding: 0 10px;
}

.header {
  border-bottom: 1px solid black;
}
.header__wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
}
.header__right a {
  font-size: 21px;
  padding-bottom: 10px;
}
.header__burger {
  font-size: 40px;
  padding-bottom: 10px;
  margin-right: 10px;
}

main {
  height: calc(100vh - 68px);
}

.footer {
  background: black;
  color: white;
}
.footer__wrapper {
  width: 100%;
  padding: 20px 0;
  display: none;
}
.footer__text {
  width: 100%;
  text-align: center;
}

section {
  width: 100%;
  padding: 20px 0;
}

.schedule {
  margin-left: 5vw;
}
.schedule__title {
  width: 90vw;
  text-align: center;
  font-size: 24px;
  padding-bottom: 15px;
}

.timetable {
  width: 90vw;
  border: 1px solid black;
  list-style: none;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.timetable__atribute {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #bdbdbd;
}
.timetable__class {
  justify-content: center;
  height: 300px;
}
.timetable__wrapper_1, .timetable__wrapper_2, .timetable__wrapper_3, .timetable__wrapper_4, .timetable__wrapper_5, .timetable__wrapper_6 {
  display: none;
  animation-name: close;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  background-color: #bdbdbd;
}
.timetable__element_1, .timetable__element_2, .timetable__element_3, .timetable__element_4, .timetable__element_5, .timetable__element_6 {
  width: 100%;
  border-top: 0.5px solid black;
  align-items: center;
  text-decoration: none;
}
.timetable__day {
  padding-top: 20px;
  padding-left: 20px;
  height: 60px;
  border-bottom: 0.5px solid black;
}
.timetable__lesson {
  list-style: none;
  align-items: center;
  text-align: center;
  height: 60px;
  border: 0.5px black;
  width: 22.5vw;
  padding-top: 20px;
}
.timetable__lesson + .timetable__lesson {
  padding-top: 5px;
}
.timetable__time {
  list-style: none;
  align-items: center;
  margin-left: 30px;
  text-align: center;
  height: 60px;
  width: 22.5vw;
  padding-top: 20px;
}
.timetable__time + .timetable__time {
  padding-top: 5px;
}
.timetable__academic {
  list-style: none;
  align-items: center;
  text-align: center;
  height: 60px;
  width: 22.5vw;
  padding-top: 20px;
}
.timetable__academic + .timetable__academic {
  padding-top: 5px;
}
.timetable__cabinet {
  list-style: none;
  align-items: center;
  margin-right: 30px;
  text-align: center;
  height: 60px;
  width: 22.5vw;
  padding-top: 20px;
}
.timetable__cabinet + .timetable__cabinet {
  padding-top: 5px;
}

.timetable__wrapper_1.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  background-color: #bdbdbd;
}

.timetable__wrapper_2.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  background-color: #bdbdbd;
}

.timetable__wrapper_3.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  background-color: #bdbdbd;
}

.timetable__wrapper_4.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  background-color: #bdbdbd;
}

.timetable__wrapper_5.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  background-color: #bdbdbd;
}

.timetable__wrapper_6.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  background-color: #bdbdbd;
}

@keyframes open {
  0% {
    display: flex;
    height: 0;
    opacity: 0;
    background-color: #bdbdbd;
  }
  90% {
    display: flex;
    height: 290px;
    opacity: 0;
    background-color: #bdbdbd;
  }
  100% {
    display: flex;
    height: 300px;
    opacity: 1;
    background-color: #bdbdbd;
  }
}
@keyframes close {
  0% {
    display: flex;
    height: 300px;
    opacity: 0;
    background-color: #bdbdbd;
  }
  10% {
    display: flex;
    height: 280px;
    opacity: 0;
    background-color: #bdbdbd;
  }
  80% {
    display: none;
    height: 30px;
    opacity: 0;
    background-color: #bdbdbd;
  }
  100% {
    display: none;
    height: 0;
    opacity: 0;
    background-color: #bdbdbd;
  }
}

/*# sourceMappingURL=test.css.map */
