@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$nav_width: 250px;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat sans-serif;
  font-size: 18px;
}

.aligner {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
}

.navigation {
  width: $nav_width;
  min-height: 100%;
  background: grey;
  font-size: 21px;
  margin-left: -$nav_width;
  transition: margin-left 0.3s ease;

  &.active {
    margin-left: 0;
  }

  &__wrapper {
    padding: 60px 10px;
  }

  &__list {

  }

  &__element {
    padding: 5px 20px;

    & a {
      text-decoration: none;
      color: black !important;
    }
  }
}

.spoiler {
  &__list {
    display: none;
    margin-top: 5px;

    &.active {
      display: block;
    }
  }

  &__element {
    list-style: none;
    padding: 5px 20px;

    & a {
      text-decoration: none;
      color: black !important;
    }
  }
}

.content {
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  padding: 0 10px;
}

.header {
  border-bottom: 1px solid black;

  &__wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;

    & a {
      font-size: 21px;
      padding-bottom: 10px;
    }
  }

  &__burger {
    font-size: 40px;
    padding-bottom: 10px;
    margin-right: 10px;
  }
}

main {
  height: calc(100vh - 68px);
}

.footer {
  background: black;
  color: white;

  &__wrapper {
    width: 100%;
    padding: 20px 0;
    display: none;

  }

  &__text {
    width: 100%;
    text-align: center;
  }
}

section {
  width: 100%;
  padding: 20px 0;
}

.schedule {
  &__title {
    width: 90vw;
    text-align: center;
    font-size: 24px;
    padding-bottom: 15px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.5px;
  }

  margin-left: 5vw;
}

.schedule__wrapper{
  overflow-x: auto;
}

.timetable {

  min-width: 1046px;
  width: 1200px;
  border: 1px solid black;
  list-style: none;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  &__atribute {
    display: flex;
    justify-content: space-between;
    height: 60px;

    background: #E5E5E5;
  }

  &__class {
    justify-content: center;
    height: 300px;

  }

  &__wrapper_1, &__wrapper_2, &__wrapper_3, &__wrapper_4,
  &__wrapper_5, &__wrapper_6 {
    display: none;
    animation-name: close;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */

    color: #666;
  }


  &__element_1, &__element_2, &__element_3, &__element_4,
  &__element_5, &__element_6 {
    width: 100%;
    border-top: 0.5px solid black;
    overflow: hidden;
    align-items: center;
    text-decoration: none;
  }

  &__day {
    padding-top: 20px;
    padding-left: 20px;
    height: 60px;
    border-bottom: 0.5px solid black;
  }


  &__lesson {
    list-style: none;
    align-items: center;
    text-align: center;
    height: 60px;
    color: #9CB9F2;
    width: 65%;
    padding-top: 20px;
    border-bottom: 0.5px solid black;
    width: 600px;

  }

  &__time {
    list-style: none;
    align-items: center;
    width: 200px;
    text-align: center;
    height: 60px;

    padding-top: 20px;
    border-bottom: 0.5px solid black;

  }

  &__academic {
    list-style: none;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 200px;
    padding: 10px 25px ;
    border-bottom: 0.5px solid black;
    color: #9CB9F2;

  }

  &__cabinet {
    list-style: none;
    align-items: center;
    width: 200px;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    border-bottom: 0.5px solid black;


  }
}

.timetable__wrapper_1.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;

  overflow: hidden;
}

.timetable__wrapper_2.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;

  overflow: hidden;
}

.timetable__wrapper_3.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  overflow: hidden;

}

.timetable__wrapper_4.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  overflow: hidden;

}

.timetable__wrapper_5.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  overflow: hidden;
}

.timetable__wrapper_6.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  overflow: hidden;
}


@keyframes open {
  0% {
    display: flex;
    height: 0;


  }
  90% {
    display: flex;
    height: 290px;


  }
  100% {
    display: flex;
    height: 300px;


  }
}

@keyframes close {
  0% {
    display: flex;
    height: 300px;

  }
  10% {
    display: flex;
    height: 280px;

  }
  80% {
    display: flex;
    height: 30px;


  }

  100% {
    display: none;
    height: 0;


  }
}