@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "base";
@import "style";

.schedule {
  &__title {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.5px;
  }

  &__wrapper {
    //max-width: 1200px;
    display: flex;
    justify-content: center;
    overflow-x: auto;

    @media (max-width: 700px) {
      display: block;
    }
  }
}

$table-border: #828282;

.timetable {
  border-collapse: collapse;
  border: 2px solid $table-border;
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  min-width: 700px;

  &__header {
    background: #E5E5E5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    & tr {
      & th {
        font-size: 16px;
        line-height: 28.5px;
        border: 2px solid $table-border;
        padding: 10px 20px;
        text-align: center;
      }
    }
  }

  &__day {
    user-select: none;
    & tr {
      & td {
        font-size: 16px;
        line-height: 28.5px;

        border: 2px solid $table-border;
        padding: 10px 20px;
        text-align: left;

      }
    }
  }

  &__lesson {
    display: none;
    transition: height 0.2s ease;
    overflow: hidden;
    &.active {
      display: table-row-group;
    }
    & tr td {
      height: 0;
      border: 2px solid $table-border;
      padding: 5px 30px;
      text-align: left;
    }
  }

  &__time, &__auditory {
    color: #666666;
  }

  &__auditory,
  &__time p:first-child {
    letter-spacing: 1px;
  }

  &__time p {
    line-height: 20px;
    width: 100%;
    text-align: center;
  }

  &__time p + p {
    line-height: 17px;
    padding-bottom: 3px;
  }
  &__lesson-name, &__academic {
    color: #143991;
  }
}

.timetable__wrapper_1.active {
  display: flex;
  justify-content: space-between;
  color: #666;
  animation-name: open;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-delay: 0s;

  overflow: hidden;
}