{% extends "/abiturient/index.html" %}
{% block style %}
    <link rel="stylesheet" href="/static/css/ui_kit_form.min.css">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <link rel="stylesheet" href="/static/css/abiturient.min.css">

{% endblock %}
{% block main %}
    <div class="form_container">
        <div class="form__wrapper">
            <form class="log__form" action="" method="post" enctype=multipart/form-data>
                <div class="wrapper__title">
                    <h1>РЕГИСТРАЦИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ</h1>
                </div>
            <div class="email__title">
                <p>Введите почту</p>
            </div>
                <div class="wrapper__email">
                    {{ form.text_input(class="text__input") }}<br>
                    {% for error in form.text_input.errors %}
                        <div class="error" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            <div class="family__title">
                <p>Фамилия</p>
            </div>
                <div class="wrapper__family">
                    {{ form.text_input(class="text__input") }}<br>
                    {% for error in form.text_input.errors %}
                        <div class="error" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            <div class="name__title">
                <p>Имя</p>
            </div>
                <div class="wrapper__name">
                    {{ form.text_input(class="text__input") }}<br>
                    {% for error in form.text_input.errors %}
                        <div class="error" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="surname__title">
                    <p>Отчество</p>
                </div>
                <div class="wrapper__surname">
                    {{ form.text_input(class="text__input") }}<br>
                    {% for error in form.text_input.errors %}
                        <div class="error" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="wrapper_dateofborn">
                    <div class="date__label">
                        <p class="date__p">Дата</p>
                        {{ form.data_field(class="date") }}
                    </div>
                    <br>
                    {% for error in form.data_field.errors %}

                        <div class="error" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="wrapper__number">
                    <div class="number__title">
                        <p>Номер телефона</p>
                    </div>
                    {{ form.text_input(class="text__input") }}<br>
                    {% for error in form.text_input.errors %}
                        <div class="error" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="wrapper__linkforSM">
                    <div class="link__title">
                        <p>Ссылка на профиль в соц. сеть</p>
                    </div>
                    {{ form.text_input(class="text__input") }}<br>
                    {% for error in form.text_input.errors %}
                        <div class="error" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="wrapper__direction">
                    <div class="direction__title">
                        <p>Желаемое направление</p>
                    </div>
                    {{ form.select_field(class="selection") }}<br>
                    {% for error in form.select_field.errors %}
                        <div class="error" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            <div class="wrapper__about">
                <div class="about">
                    <p>О себе</p>
                </div>
                {{ form.text_area(class="text__area") }}<br>
                {% for error in form.text_area.errors %}
                    <div class="error" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            </form>
        </div>
    </div>
{% endblock %}