{% extends "/curator/index.html" %}
{% block style %}
    <link rel="stylesheet" href="/static/css/ui_kit_form.min.css">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <link rel="stylesheet" href="/static/css/edit_password.min.css">

{% endblock %}
{% block main %}
    <div class="form_container">
        <div class="form__wrapper">
            <form class="log__form" action="" method="post" enctype=multipart/form-data>

                <div class="wrapper__title">
                    <h1>РЕДАКТИРОВАНИЕ ПАРОЛЯ</h1>
                </div>
            {{ form.hidden_tag() }}
                <div class="password__title">
                    <p>Текущий пароль</p>
                </div>
                <div class="password__container">

                    {{ form.current_password(class="password") }}<br>
                    <label for="password" class="password__label"><span><img src="/static/img/Vector.svg"
                                                                             alt=""></span></label>
                </div>
                <div class="password__title">
                    <p>Придумайте пароль</p>
                </div>
                <div class="password__container">

                    {{ form.password(class="password") }}<br>
                    <label for="password" class="password__label"><span><img src="/static/img/Vector.svg"
                                                                             alt=""></span></label>
                </div>
                <div class="password__title">
                    <p>Повторите пароль</p>
                </div>
                <div class="password__container">

                    {{ form.repeat_password(class="password") }}<br>
                    <label for="password" class="password__label"><span><img src="/static/img/Vector.svg"
                        {% for error in form.password.errors %}
                            <div class="error" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}                                            alt=""></span></label>
                </div>
                <div class="button__line"></div>
                <div class="button__sumbit-1">
                    {{ form.submit(type="submit", class="button__sumbit") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}