{% extends "/academic/index.html" %}
{% block style %}
    <link rel="stylesheet" href="/static/css/ui_kit_form.min.css">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <link rel="stylesheet" href="/static/css/abiturient.min.css">

{% endblock %}
{% block main %}
    <div class="form_container">
        <div class="form__wrapper" style="max-width: 600px">
            <form class="log__form" action="" method="post" enctype=multipart/form-data>

                <div class="wrapper__title">
                    <h1>Оценка</h1>
                </div>
                {{ form.hidden_tag() }}
                <div class="wrapper__direction">
                    <div class="direction__title">
                        <p>Оценка</p>
                    </div>
                    {{ form.direction(class="selection") }}<br>
                    {% for error in form.direction.errors %}
                        <div class="error" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                    <div class="button__line"></div>
                    <div class="button__sumbit-1">
                        {{ form.submit(type="submit", class="button__sumbit") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}