{% extends "base.html" %}

{% block nav %}
    <li class="nav__wrapper__menu__ul__li_1">
        <div class="nav__wrapper__menu__ul__li__wrapper_1">
            <img src="/static/img/newspaper-outline 1.svg" alt="">
            <a href="#" class="nav__wrapper__menu__ul__li__a">Выставление оценок и уроки</a>
        </div>
        <div class="nav__wrapper__menu__ul__li__inside">
            <ul class="nav__wrapper__menu__ul__li__inside__ul_1">
                <li class="nav__wrapper__menu__ul__li__inside__ul__li">
                    <a href="/academic/examination" class="nav__wrapper__menu__ul__li__inside__ul__li__a">Выставление оценок</a>
                </li>
            </ul>
        </div>
        <div class="nav__wrapper__menu__ul__li__inside">
            <ul class="nav__wrapper__menu__ul__li__inside__ul_1">
                <li class="nav__wrapper__menu__ul__li__inside__ul__li">
                    <a href="/academic/lessons" class="nav__wrapper__menu__ul__li__inside__ul__li__a">Уроки</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="nav__wrapper__menu__ul__li_1">
        <div class="nav__wrapper__menu__ul__li__wrapper_1">
            <img src="/static/img/newspaper-outline 1.svg" alt="">
            <a href="#" class="nav__wrapper__menu__ul__li__a">Редактирование</a>
        </div>
        <div class="nav__wrapper__menu__ul__li__inside">
            <ul class="nav__wrapper__menu__ul__li__inside__ul_1">
                <li class="nav__wrapper__menu__ul__li__inside__ul__li">
                    <a href="/academic/edit_lesson" class="nav__wrapper__menu__ul__li__inside__ul__li__a">Редактирование
                        уроков</a>
                </li>
                <li class="nav__wrapper__menu__ul__li__inside__ul__li">
                    <a href="/academic/edit_password" class="nav__wrapper__menu__ul__li__inside__ul__li__a">Редактировать
                        пароль</a>
                </li>
                <li class="nav__wrapper__menu__ul__li__inside__ul__li">
                    <a href="/academic/edit_info" class="nav__wrapper__menu__ul__li__inside__ul__li__a">Редактировать
                        информацию </a>
                </li>

            </ul>
        </div>
    </li>
{% endblock %}
{% block main %}
{% endblock %}