<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    {% block head %}
    <link rel="stylesheet" href="/static/css/style.min.css">
    {% endblock %}
</head>
<body>
<nav class="nav">
    <div class="container__nav">
        <div class="nav__wrapper">
            <div class="nav__wrapper__logo"><img src="static/img/2023-10-15__1_-removebg-preview 2.png" alt=""
                                                 class="nav__wrapper__logo__img"></div>

            <ul class="nav__wrapper__menu__ul">
                <li class="nav__wrapper__menu__ul__li">
                    <details>
                        <summary>
                            <div>
                                <img src="static/img/home.svg" alt="" style="margin-left: 5px"><a href="#"
                                                                                                  class="nav__wrapper__menu__ul__li__a">Информация</a>
                            </div>
                        </summary>

                        <ul class="nav__wrapper__menu__ul__li__summary__ul">
                            <li class="nav__wrapper__menu__ul__li__summary__ul__li"><img src="" alt=""><a href="#"
                                                                                                          class="nav__wrapper__menu__ul__li__summary__ul__li__a">Что-то</a>
                            </li>
                            <li class="nav__wrapper__menu__ul__li__summary__ul__li"><img src="" alt=""><a href="#"
                                                                                                          class="nav__wrapper__menu__ul__li__summary__ul__li__a">Что-то</a>
                            </li>
                            <li class="nav__wrapper__menu__ul__li__summary__ul__li"><img src="" alt=""><a href="#"
                                                                                                          class="nav__wrapper__menu__ul__li__summary__ul__li__a">Что-то</a>
                            </li>
                            <li class="nav__wrapper__menu__ul__li__summary__ul__li"><img src="" alt=""><a href="#"
                                                                                                          class="nav__wrapper__menu__ul__li__summary__ul__li__a">Что-то</a>
                            </li>
                            <li class="nav__wrapper__menu__ul__li__summary__ul__li"><img src="" alt=""><a href="#"
                                                                                                          class="nav__wrapper__menu__ul__li__summary__ul__li__a">Что-то</a>
                            </li>
                        </ul>

                    </details>
                </li>
                <li class="nav__wrapper__menu__ul__li"><img src="static/img/book.svg" alt=""><a href="#"
                                                                                                class="nav__wrapper__menu__ul__li__a">Инструкция
                    пользователя</a></li>
                <li class="nav__wrapper__menu__ul__li"><img src="static/img/football-outline 1.svg" alt=""><a
                        href="#" class="nav__wrapper__menu__ul__li__a">Олимпиада Совкомбанк</a></li>
                <li class="nav__wrapper__menu__ul__li"><img src="static/img/globe-outline 1.svg" alt=""><a href="#"
                                                                                                           class="nav__wrapper__menu__ul__li__a">Единый
                    деконат</a></li>
                <li class="nav__wrapper__menu__ul__li"><img src="static/img/school-outline 1.svg" alt=""><a href="#"
                                                                                                            class="nav__wrapper__menu__ul__li__a">Аттестации</a>
                </li>
                <li class="nav__wrapper__menu__ul__li"><img src="static/img/calendar-number-outline 1.svg" alt=""><a
                        href="#" class="nav__wrapper__menu__ul__li__a">Расписание</a></li>
                <li class="nav__wrapper__menu__ul__li"><img src="static/img/desktop-outline 1.svg" alt=""><a
                        href="#" class="nav__wrapper__menu__ul__li__a">Дистанционное обучение</a></li>
                <li class="nav__wrapper__menu__ul__li"><img src="static/img/newspaper-outline 1.svg" alt=""><a
                        href="#" class="nav__wrapper__menu__ul__li__a">Справочные системы</a></li>
            </ul>
        </div>
    </div>
    <div class="container__nav__button">
        <button class="nav__button"><img src="static/img/list-outline 1.svg" alt=""></button>
    </div>
    <script>
        $('.nav__button').on('click', function (e) {
            e.preventDefault();
            $('.nav').toggleClass('nav__active');
            $('.container').toggleClass('container__active');
        })
    </script>
</nav>
<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__logo">
                <img src="static/img/2023-10-15__1_-removebg-preview 2.png" alt="Совкомбанк">
            </div>
            <div class="header__wrapper__helpandlogin">
                <div class="header__help">
                    <p>Помощь</p>
                </div>
                {% if need_log %}
                {% if not is_authorized %}
                <a href="/login">
                    <div class="header__button">
                        <p>Войти</p>
                        <img src="/static/img/login.svg" alt="Логин">
                    </div>
                </a>
                {% else %}
                {% if is_logout %}
                <a href="/logout">
                    <div class="header__button">
                        <img src="/static/img/logout.svg" alt="Выйти">
                        <p>Выйти</p>
                    </div>
                </a>
                {% else %}
                <a href="/user/profile/{{ user_id }}">
                    <div class="header__button">
                        <img src="/static/img/user.svg" alt="профиль">
                        <p>Профиль</p>
                    </div>
                </a>
                {% endif %}
                {% endif %}
                {% endif %}
                {#
                <div class="header__line">#}
                    {#
                    <svg xmlns="http://www.w3.org/2000/svg" width="1200" height="2" viewBox="0 0 1200 2" fill="none">#}
                        {#
                        <path d="M0 1H1200" stroke="#E5E5E5"/>
                        #}
                        {#
                    </svg>
                    #}
                    {#
                </div>
                #}
            </div>
        </div>
    </div>

</header>
<main>
    {% block main %}
    {% endblock %}
</main>
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__wrapper__dlyrubezja">
                <a href="tel:+900000000">890000000</a>
                <div class="footer__wrapper__dlyrubezja__text">
                    <p>Для звонков для рубежа(Платно)</p>
                </div>
            </div>
            <div class="footer__wrapper__dlyrussia">
                <a href="tel:+90000000">890000000</a>
                <div class="footer__wrapper__dlyrussia__text">
                    <p>Для звонков по России(Бесплатно)</p>
                </div>
            </div>
            <div class="footer__wrapper__mobver">
                <a href="">Мобильная версия</a>
                <div class="footer__wrapper__mobver__text">
                    <p>Приложение для Iphone и Android</p>
                </div>
            </div>
            <div class="footer__wrapper__social">
                <a href="">
                    <img src="static/img/logo-instagram 1.png" alt="">
                </a>
                <a href="" style="margin-left: 60px;">
                    <img src="static/img/logo-vk 1.png" alt="">
                </a>
                <a href="" style="margin-left: 60px;">
                    <img src="static/img/logo-whatsapp 1.png" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
{% block js %}
{% endblock %}
</body>
</html>