{% extends "/curator/index.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/style.min.css">
<link rel="stylesheet" href="/static/css/ui_kit_form.min.css">
{% endblock %}

{% block main %}
<div class="form_container">
    <div class="form__wrapper">
        <form class="log__form" action="" method="post" enctype=multipart/form-data>

            <p class="log__title">Удалить {{type}} {{asd}}</p>

            {{ form.hidden_tag() }}

            {% if error %}
            {% if status == "error" %}
            <p class="error">{{ error }}</p>
            {% else %}
            <p class="ne-message">{{ error }}</p>
            {% endif %}
            {% endif %}

            <div class="button__button">
                <div class="button__sumbit-1">
                    {{ form.submit(type="submit", class="button__sumbit") }}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}