{% extends "/academic/index.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/ui_kit_form.min.css">
<link rel="stylesheet" href="/static/css/style.min.css">
<link rel="stylesheet" href="/static/css/abiturient.min.css">

{% endblock %}
{% block main %}
<div class="form_container">
    <div class="form__wrapper">
        <form class="log__form" action="" method="post" enctype=multipart/form-data>

            <div class="wrapper__title">
                <h1>РЕДАКТИРОВАНИЕ УРОКА</h1>
            </div>
            {{ form.hidden_tag() }}
            <div class="wrapper__about">
                <div class="about">
                    <p>Домашнее задание</p>
                </div>
                {{ form.about(class="text__area") }}<br>
                {% for error in form.about.errors %}
                <div class="error" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </div>
            <div class="button__line"></div>
            <div class="button__sumbit-1">
                {{ form.submit(type="submit", class="button__sumbit") }}
            </div>

        </form>
    </div>
</div>
{% endblock %}