{% extends "/curator/index.html" %}

{% block main %}
<div class="form_container">
    <div class="form__wrapper">
        <form class="log__form" action="" method="post" enctype=multipart/form-data>

            <p class="log__title">Загрузить {{type}}</p>

            {{ form.hidden_tag() }}

            {{ form.email(class="text__input") }}<br>
            {% for error in form.email.errors %}
            <div class="error" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.message(class="text__area") }}<br>
            {% for error in form.message.errors %}
            <div class="error" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {% if error %}
            {% if status == "error" %}
            <p class="error">{{ error }}</p>
            {% else %}
            <p class="ne-message">{{ error }}</p>
            {% endif %}
            {% endif %}

            <div class="button__button">
                <div class="button__sumbit-1">
                    {{ form.submit(type="submit", class="button__sumbit") }}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}