{% extends "/curator/index.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/style.min.css">
<link rel="stylesheet" href="/static/css/ui_kit_form.min.css">
{% endblock %}

{% block main %}
<div class="form_container">
    <div class="form__wrapper" style="max-width: 600px">
        <form class="log__form" action="" method="post" enctype=multipart/form-data>

            <p class="log__title">Загрузить {{type}}</p>

            {{ form.hidden_tag() }}

            {{ form.name(class="text__input") }}<br>
            {% for error in form.name.errors %}
            <div class="error" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            <input type="file" name="file" class="input__file" id="file">
            <label for="file">
                <span>Выбрать файл</span>
                <img src="/static/img/images-outline%201.png" alt="" style="margin-left: 10px">
                <img src="/static/img/Untitled.png" alt="">
                <img src="/static/img/folder-outline%201.png" alt="">
            </label>

            {% if error %}
            {% if status == "error" %}
            <p class="error">{{ error }}</p>
            {% else %}
            <p class="ne-message">{{ error }}</p>
            {% endif %}
            {% endif %}

            <div class="button__button">
                <div class="button__sumbit-1">
                    {{ form.submit(type="submit", class="button__sumbit") }}
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}